<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Ticket</title>
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar('home')}" class="container"></div>
    <main class="container mt-5">
        <h2>Modifica Ticket</h2>
        <form th:action="@{/ticket/edit/{id}(id=${ticket.id})}" method="post" th:object="${ticket}">
            <div class="mb-3">
                <div th:if="${#fields.hasErrors('*')}">
                    <ul class="alert alert-warning ps-5">
                        <li
                        th:each="err : ${#fields.allErrors()}"
                        th:text="${err}">
                        </li>
                        </ul>
                    </div>
                <label for="title" class="form-label">Titolo</label>
                <input type="text" th:field="*{title}" class="form-control" id="title" th:errorClass="is-invalid" required>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Dettagli</label>
                <textarea th:field="*{details}" class="form-control" id="details" rows="3" th:errorClass="is-invalid" required></textarea>
            </div>
             <div class="mb-3">
                <label for="status" class="form-label">Stato</label>
                <select th:field="*{status}" class="form-select" id="status" required>
                    <option th:each="status : ${ticketStatuses}" th:value="${status.name()}"
                        th:text="${status.displayName}">
                        Seleziona uno stato</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Categoria</label>
                <select th:field="*{category.Id}" class="form-select" id="categoryId" required>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
            </div>
            <div class="mb-3">
                <label for="operatorId" class="form-label">Operatore</label>
                <select th:field="*{operator.Id}" class="form-select" id="operatorId" required>
                    <option value="" disabled selected>Seleziona un operatore</option>
                    <option th:each="operator : ${operators}"
                            th:value="${operator.id}"
                            th:text="${operator.username}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Salva Modifiche</button>
        </form>
    </main>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>